{%extends 'base.html'%}
{% load static%}
{% block content %}

{{block.super}}


<div class="container">
    <div class="row" id='gallery'>
    {% for post in posts %}
         <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                 <div class="portfolio-wrap ">
                     <div class="portfolio-wrap hovereffect">
                         <a class="img-overlay" data-toggle="modal" data-target="#{{post.id}}" style="width:100%">
                             <img src="{{post.post_image.url}}" width='100%' href="" class="post" alt="post" >
                             <div class="overlay">
                                <i class="far fa-heart"></i> <i class="far fa-comment"></i>
                             </div>
                         </a>
                     </div>
                 </div>
             </div>
    {% empty %}
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <img src="{% static 'posts/sorry.png' %}" alt="" class="oops">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-center"> Sorry no posts yet.</h2>
        </div>
    </div>
    {% endfor %}
    
    <!-- post details modal -->
    {% for post in posts %}
        <div class="modal fade" id="{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">{{post.user|title}}</h5>
                        <small><i class="fas fa-map-marker-alt"></i><span> {{post.location}}</span></small>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                                <div><img id="img{{post.id}}" src="{{post.post_image.url}}" class="img-thumbnail" alt="post" width='100%'></div><br>
                                <p class="desc">{{post.caption}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock%}