{%extends 'base.html'%}
{% load static%}
{% block content %}
{{block.super}}
<style>
    #suggestions{
        position:sticky;
        position:-webkit-sticky;
        top:0;
        }
</style>
<div class="container">
    <div>{{message}}</div>
    <div class="row" id='timeline'>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            {% for post in posts %}
            <div class='card'>
                <h5 class='card-header'>{{post.user}}<br><small><i class="fas fa-map-marker-alt"></i><span>{{post.location}}</span></small></h5>
                <div class='card-body'>
                    <img src="{{post.post_image.url}}" width='100%' class="post" alt="post" ><br>
                    <div>
                        <form action="{%url 'insta' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="post" value="{{post.id}}">
                            <button class='btn' type='submit'><i class="fas fa-heart"> {{post.like}}</i></button>
                            <button class='btn'><i class="fas fa-comment"></i></button>
                        </form>
                    </div>
                    <div><b>{{post.user}}</b> {{post.caption}} <span style='text-align:right;'>{{post.date_posted|timesince}} ago</span></div><br>
                    {% for comment in comments|slice:":6" %}
                    {% if comment.post.id == post.id %}
                    <div class='panel'>
                        <b>{{comment.user.username}}</b> {{comment.comment}} {{comment.date_posted|timesince}} ago
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                    <div class='card-footer'><a href="{% url 'single_post' post_id=post.id %}">Add a comment </a></div>
             </div><br><br>
            {% endfor %}</div>
        <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4' id='suggestions'>
        <h5>Suggestions</h5>
        {% for user in users %}
        {% if user != request.user %}
        <span>{{user.username}} <button class='btn'><button type="button" class="btn btn-outline-primary"><a href="{%url 'follow' user.id %}">Follow</a></button></span><br>
        {% endif %}
        {% endfor%}
        </div>
</div>
</div>

{% endblock%}