{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    nav{
      background-color:rgb(234, 234, 236);
      position:fixed;
      top:0;
      width:100%;
      color: black;
      height:60px;
      z-index:2;
      font-family: 'Vollkorn', serif;
    }
    i{
      padding-right:5px;
    }
    nav a{
      text-decoration: none;
      color:black;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-light" style='position:fixed;'>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class='col-xs-0 col-sm-0 col-md-2 col-lg-3'></div>
      <a class="navbar-brand" href="{% url 'insta' %}"><i class="fab fa-instagram"></i> Instagram</a>
      <div class="col-sm-4 col-md-5 col-lg-5 nav navbar-center">

        <form class="navbar-form" role="search" action="{% url 'search_results' %}">

          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search user" name="user">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
            </div>
          </div>

        </form>
    </div>
    </div>
    <div class="navbar-collapse collapse">
  <div class="col-sm-3 col-md-3 col-lg-3 nav navbar-right">
    {% if user.is_authenticated %}
    <ul class="nav navbar-nav">
        <li><a href="{%url 'insta'%}" class="nav-link"><span class="glyphicon glyphicon-home"></span></a></li>
        {% if my_profile %}
        <li><a href="{%url 'my_profile'%}" style='text-decoration: none;'><img src='{{my_profile.profile_photo.url}}' width='20px' height='20px' style='border-radius:50%;' class='image-thumbnail'></a></li>
        {% endif %}
        <li><a href="{%url 'new-post'%}" class="nav-link"><i class="fas fa-plus"></i></a></li>
        <li class="dropdown nav-item">
          <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fas fa-ellipsis-v"></i>
                </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/accounts/password/change">Change Password</a>
            </li>
            <li>
              <a href="/logout">Logout</a>
            </li>
          </ul>
        </li>
    {% else %}
    <li>
      <a class='btn btn-default' href="/accounts/login">Login</a>
    </li>
    </ul>
    {% endif %}
  </div></div>
</nav>
</body>
</html>