{%extends 'base.html'%}
{% load static%}
{% block content %}
{% load bootstrap3 %}
{{block.super}}

<div class="container" style='margin-top:90px'>
    <div class="row" id='gallery'>
        <div class='col-xs-0 colsm-0 col-md-2 col-lg-2'></div>
         <div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
            <img src="{{post.post_image.url}}" width='100%' href="" class="post" alt="post" ><br><br>
            <div>
                <form action="{%url 'insta' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="post" value="{{post.id}}">
                    <button class='btn btn-danger' type='submit'><i class="far fa-heart"> </i></button>
                    <a href="{% url 'single_post' post_id=post.id %}" class='btn btn-danger'><i class="far fa-comment"></i></a>
                </form>
            </div><br>
            <p>{{post.like}} likes</p>
            <div><b>{{post.user}}</b> {{post.caption}}<span style='display:block;'class='text-muted small'>{{post.date_posted|timesince}} ago</span></div><br>
            {% for comment in comments %}
            <div class='panel'>
                <b>{{comment.user.username}}</b> {{comment.comment}}
            </div>
            {% endfor %}
            <form  method="post">
                {%csrf_token%}
            
                {% bootstrap_form form layout='inline' %}
                <input type="submit" value="Post">
            </form>
        </div>
    </div>
 

    {% endblock%}