{%extends 'base.html'%}
{% load static%}
{% block content %}
{% load bootstrap3 %}
{{block.super}}

<div class="container">
    <div class="row" id='gallery'>
        <div class='col-xs-0 colsm-0 col-md-2 col-lg-2'></div>
         <div class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
            <img src="{{post.post_image.url}}" width='100%' href="" class="post" alt="post" >
            <div>
                <form action="{%url 'insta' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="post" value="{{post.id}}"><br>
                    <button class='btn' type='submit'><i class="fas fa-heart"> </i></button>
                    <button class='btn'><i class="fas fa-comment"></i></button>
                </form>
            </div>
         <br>
         <p>{{post.like}} likes</p>
        {% for comment in comments %}
        <div class='panel'>
            {{comment.user.username}} {{comment.comment}} {{comment.date_posted|timesince}} ago
        </div>
        {% endfor %}
        <div class="container-fluid">
        <form  method="post">
            {%csrf_token%}
        
            {% bootstrap_form form layout='inline' %}
            <input type="submit" value="Post">
        </form>
        
        </div>
    </div>
 

    {% endblock%}