{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if results == None%}
      <h2>Found {{ results|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 results for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if results %}
    {% for result in results %}
      <div class="col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{result.profile_photo.url}}" alt="Card image cap">
            <div class="card-body">
                <a href="{%url 'profile' result.id %}">See more</a>
            </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}