{%extends 'base.html'%}
{% load static%}
{% block content %}
{% load bootstrap3 %}
{{block.super}}
<div class='container'style='margin-top:90px'>
    <div class='col-md-2'></div>
    <div class='col-md-6'>
        <form  action="{%url 'new-post'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
    
        {% bootstrap_form form%}
        <label>Caption</label>  <input id='caption' type="text" name="caption" value="{{ post.caption }}"></label>
        <input type="submit" class="btn btn-success btn-lg" value="Post">
        </form>
    </div>
    <div class='col-md-2'></div>
</div>
{% endblock%}