{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<style>
    body{
      background-image:url(https://lh3.googleusercontent.com/proxy/_uSJkxZ3_qhMj73lr3n1MMzJYMqRl9XsSYxD6p3rNE4s-4-xYT0S2iIkifean8T2mGQZIHF_9BasCiN2vywqqpJZuJ558ZXEkycI49ERvf6reU2bv__9n6AzgV1uy_GEf4Wn8TNAWaIGbvk0Dq1ohKuZ);
      background-size:cover;
      background-repeat:no-repeat;
      font-family: 'Vollkorn', serif;
    }
  </style>
<div>Click <a href="/accounts/login">here</a> to login</div>
<div>Don't have an account? Register <a href="/accounts/register">here</a></div>
{% endblock %}