{%extends "registration/base.html"%} {% load bootstrap3 %}
{% block content %}
<style>
  body{
    background-image:url('https://lh3.googleusercontent.com/proxy/6ad6RkWVmYU8TQizxNxmHNhllOowYFClp-3q0Ywzqsj7SdMDlYJ59bXSK69v2RhrE8hr7d-Qz5T7Q1D_iULrszWC-au5QrXNsSes4BViia188DYzDFZ9VRNNtbaOIl16R5ojoowCVzluEMBkneK1httr');
    background-size:cover;
    background-repeat:no-repeat;
    font-family: 'Vollkorn', serif;
  }
  .col-md-6{
    border-radius:20px;
    margin-top:30px;
  }
  .btn{
    background-color:rgb(182, 72, 209);
    border:none;
  }
</style>
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {% if form.errors %}
        <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center">Sign Up</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Sign Up"> &nbsp;<span> Already have an account? Click <a href="/accounts/login">here</a> to login</div></span>
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}